﻿body
{
	background-color: #1B4693;
	font-family: Tahoma;
}

.LoginScreen
{
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	font-size: 16px;
}

.LoginScreenLogo
{
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.LoginScreenTitle
{
	width: 359px;
	text-align: center;
	margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.LoginScreenForm
{
	width: 300px;
	margin: 0px auto;
}

.LoginScreenErrorMessage
{
	color: #FF0000;
	text-align: center;
}

.LoginScreenSubmitbutton
{
	width: 100px;
	margin: 0 100px;
	text-align: center;
}


.EntirePage
{
	
}

.PageHeader
{
	margin: 8px;
	padding: 5px;
	line-height: 64px;
	vertical-align: middle;
	color: #FFFFFF;
	overflow: hidden;
	white-space: nowrap;
}

.PageHeaderLogo
{
	float: left; 
	margin-right: 25px;
}

.Breadcrumb
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #1B4693;
	font-size: 16pt;
	padding: 5px;
}

.SiteBody
{
	background-color: #CCCCCC;
}

.SiteNavigation
{
	background-color: #CCCCCC;
	float: left;
	width: 175px;
	padding: 10px;
	text-align: center;
}

.SiteBodyMain
{
	margin-left: 200px;
	border-left: 1px solid #1B4693;
	background-color: #FFFFFF;

}

.SiteBodyMainContent
{
	background-color: #FFFFFF;
	
}

.SiteBodyMainContent p
{
	padding: 5px;
	
}

.PageFooter
{
	font-size: 10px;
	padding: 5px;
	padding-bottom: 0;
	text-align: center;
}

.rsAptContent
{
    font-family: Arial;
    font-size: 10px;
	line-height: 105%;
}

.clear
{
	clear: both;
}

#GroupMemberModule
{
    height: 150px;
    border: 1px solid #DDD;
    background-color: #EEE;
    padding: 2px;
    width: 500px;
    margin-top: 5px;
}

#GroupMemberModule .Header
{
    padding: 0px 0px 5px 5px;
    color: Blue;
}

#ResourceTypeModule
{    width: 500px;
     margin-top: 20px;
     border: 1px solid #DDD;
     background-color: #EEE;
     padding: 2px;
     height: 34px;
     margin-bottom: 10px;
}

#ResourceTypeModule .Header
{
    padding: 0px 0px 0px 5px;
    color: Blue;
}

#RegisterCourseModule
{    width: 500px;
     margin-top: 20px;
     border: 1px solid #DDD;
     background-color: #EEE;
     padding: 2px;
     margin-bottom: 10px;
}

#RegisterCourseModule .Header
{
    padding: 0px 0px 0px 5px;
    color: Blue;
}

.panelResourceSchedule
{
    padding: 2px;
}

#listBox
{
    width: 273px;
    height: 102px;
    float: left;
}

#GroupMemberButtons
{
    margin-left: 2px;
    width: 108px;
    height: 100px;
    padding: 5px;
}

#deleteButton
{
    padding: 2px;
    margin: auto;
    border: 2px solid #EEE;
}

#addButton
{
    margin-bottom: 2px; 
    border: 2px solid #BBB;
    background-color: #EEE;
    padding: 2px;
    height: auto;
}

#resourceOptions
{
    margin-left: 5px;
    width: 262px;
    height: 35px;
    float: right;
}

.RadScheduler_Windows7 .rsNonWorkHour 
{
    background-color: White;
}