﻿body
{
	background-color: #1b4693 !important;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.HiddenCol {
    display: none;
}
		
.TutorApplicationContainer
{
}
		
.TutorApplicationLeft
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40%;
    height: 100%;
	text-align: center;
	background-color: #ccc;
}

.TutorApplicationLeftActivity
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40%;
    height: 100%;
	text-align: center;
	background-color: #ccc;
}
		
.TutorApplicationCenter
{
	background-color: #ccc;
	text-align: center;
	width: 25%;
    height: 100%;
	margin: 0 auto;
	padding-bottom: 5px;
}

.TutorApplicationCenterActivity
{
	background-color: #ccc;
	text-align: center;
	width: 25%;
    height: 100%;
	margin: 0 auto;
	padding-bottom: 5px;
}

.TutorApplicationGrid {
    table-layout: fixed;
    width: 100%;
}

.TutorApplicationGridSubject {
}
.TutorApplicationGridRoom {
}

.TutorApplicationGridStartTime {
}

.TutorApplicationGridLogout {
}

.TutorApplicationGridStudentName {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    overflow:hidden;
}

.TutorApplicationGridTutorName {
    white-space: nowrap;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
		
.TutorApplicationRight
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40%;
    height: 100%;
    text-align: center;
	background-color: #ccc;
}

.TutorApplicationRightActivity
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40%;
    height: 100%;
	text-align: center;
	background-color: #ccc;
}
		
.TutorApplicationLogo
{
	font-size: 14px;
}
		
.TutorDebug
{
	font-size: 12pt;
	color: #000;
}
		
.TutorApplicationStudentList
{
	padding: 0px 15px;
}
		
		
.TutorApplicationLogin
{
	margin-top: 10px;
	overflow: hidden;
}
		
.TutorApplicationLargeTime
{
	font-size: 36pt;
	color: #000;
}

.TutorApplicationXLargeTime
{
	font-size: 64pt;
	color: #000;
}

.TutorRowStyle {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.TutorAlternatingRowStyle {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}
		
.TutorApplicationLargeDate
{
	font-size: 24pt;
	color: #000;
}
		
.ListboxPicker
{
	width: 100%;
}
		
.TutorApplicationActiveTreeview
{
	margin: 10px 10px;
	width: 100%;
}
		
.TutorApplicationStudentList
{
	margin-top: 10px;
}
		
.TutorApplicationUnscheduledTitle
{
	font-size: 20pt;
	color: #000;
}
		
.clear
{
	clear: both;
	height: 0;
}
		
.debug
{
	display: none;
}

.blur
{
	/*width: 100%;
	background-color: black;
	background: black;
	moz-opacity: 0.5;
	khtml-opacity: .5;
	opacity: .5;
	filter: alpha(opacity=50);
	z-index: 120;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;*/
	/*
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow:hidden;
	padding:0;
	margin:0;
	background-color:black; 
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:500;*/
	

	background-color: #ccc;
	position: absolute;
	top: 0pt;
	left: 0pt;
	border: solid 1px #ccc;
	padding: 5px 5px 5px 5px;
	text-align: center;
	width: 90%;
	height: 75pt;
	overflow:visible;
	moz-opacity: 0.5;
	khtml-opacity: .5;
	opacity: .5;
	filter: alpha(opacity=50);
}

.progress
{
	z-index: 200;
	/*background-color: white;
	border: solid 1px white;*/
	position: absolute;
	top: 0pt;
	left: 0pt;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.blur2
{
	background-color: #1B4693;
	position: absolute;
	top: -45pt;
	left: 0pt;
	border: solid 1px #1B4693;
	padding: 5px 5px 5px 5px;
	text-align: center;
	width: 90%;
	height: 75pt;
	overflow:visible;
	moz-opacity: 0.5;
	khtml-opacity: .5;
	opacity: .5;
	filter: alpha(opacity=50);
}

.progress2
{
	z-index: 200;
	/*background-color: white;
	border: solid 1px white;*/
	position: absolute;
	top: -45pt;
	left: 0pt;
	padding: 5px 5px 5px 5px;
	text-align: center;
}