﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ResizeExistingImages.aspx.cs" Inherits="UK.STATS.Administration.ResizeExistingImages" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" Visible="false" runat="server" Text="Label"></asp:Label>
        <asp:Image ID="Image2"  AlternateText='<%#Label1.Text %>' runat="server" />
    </div>
    </form>
</body>
</html>
