﻿body
{
	width: 8.5in !important; /* Optimized for landscape printing */
	background-color: #FFF !important; 
	margin: 0 !important; 
	padding: 0 !important; 
}

#ResourceScheduler 
{
	width: 8.5in !important; 
	margin: 0 !important; 
	padding: 0 !important; 
}

.noPrint
{
	display: none;
}

td
{
	width: 10%;
}