﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MissingResources.ascx.cs" Inherits="UK.STATS.Mobile.MissingResources" %>

Missing Users: <asp:Label ID="lblNumResources" runat="server" Text="0"></asp:Label>
<asp:GridView ID="gvMissing" runat="server" CellPadding="4" ForeColor="#333333" 
    GridLines="None" Width="100%">
    <AlternatingRowStyle BackColor="White" />
    <EditRowStyle BackColor="#2461BF" />
    <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
    <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
    <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
    <RowStyle BackColor="#EFF3FB" />
    <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
    <SortedAscendingCellStyle BackColor="#F5F7FB" />
    <SortedAscendingHeaderStyle BackColor="#6D95E1" />
    <SortedDescendingCellStyle BackColor="#E9EBEF" />
    <SortedDescendingHeaderStyle BackColor="#4870BE" />
</asp:GridView>
