﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ApplicationVersion.ascx.cs" Inherits="UK.STATS.Tutoring.ApplicationVersion" %>

<div class="ApplicationVersion">
    Application Version <asp:Label ID="lblVersionApp" runat="server" Text="" />
</div>