﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Breadcrumb.ascx.cs" Inherits="UK.STATS.Administration.UserControls.Breadcrumb" %>
<asp:SiteMapPath ID="SiteMapPath1" runat="server" SiteMapProvider="BreadcrumbSiteMap">
</asp:SiteMapPath>
