﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ApplicationVersion.ascx.cs" Inherits="Student.UserControls.ApplicationVersion" %>

<div class="ApplicationVersion">
    Application Version <asp:Label ID="lblVersionApp" runat="server" Text="" />
</div>

<%--<asp:DateTimePicker runat="server" id--%>