﻿#studyHallContainer
{
    width: 90%;
    height: 700px;
    margin: auto;
    vertical-align: top;        
}
        
.StudyHallLeft
{
    float: left;
    width: 350px;
    height: 625px;
    text-align: center;
    padding: 12px;
    background-color: #ccc;
        	
}
        
.loginPanelRight
{
    float: right;
    width: 350px;
    height: 625px;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
}

.LoginButtonClosed {
	background-color: #FF0000;
}
        
.StudyHallStudentListbox
{

}
        
.ListboxPicker
{
    width: 100%;
}
        
        
.clear
{
    clear: both;
    height: 0;
}
        
.LogoutButton
{
    width: 100%;
}
        
.TimeTracker
{
    border: 1px solid #000;
}
    
.TimeTrackerTitle
{
    font-size: 24pt;
    font-weight: 800;
}
    
.TimeTrackerLeftCol
{
    font-weight: 800;
}
.TutorApplicationLargeTime
{
    font-size: 48pt;
    color: #000;
}
        
.TutorApplicationLargeDate
{
    font-size: 36pt;
    color: #000;
}