﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.Master" AutoEventWireup="true" CodeBehind="Course.aspx.cs" Inherits="UK.STATS.Administration.Pages.CoursePage" %>
<asp:Content ID="Content2" ContentPlaceHolderID="Content_MainContents" runat="server">
    <div>
        <asp:HyperLink ID="linkReturnToSubject" runat="server" NavigateUrl="~/Pages/Subject.aspx" Visible="False">Return to Class Prefix List</asp:HyperLink>
        <br />
        <asp:Label ID="lblSubjectName" runat="server" Text="SubjectName"></asp:Label>
        <asp:Panel ID="panelCourseList" runat="server" Visible="true">
            <asp:Button ID="btnAdd" runat="server" Text="Create Course" onclick="btnAdd_Click" />
            <br />
            <asp:GridView ID="gvCourse" runat="server" AllowPaging="True" 
                AllowSorting="True" AutoGenerateColumns="False" CellPadding="4" 
                DataKeyNames="CourseID" DataSourceID="edsCourse" ForeColor="#333333" 
                GridLines="None" Width="100%">
                <AlternatingRowStyle BackColor="White" />
                <Columns>
                    <asp:BoundField DataField="CourseID" HeaderText="CourseID" ReadOnly="True" SortExpression="CourseID" Visible="False" ><HeaderStyle HorizontalAlign="Left" /></asp:BoundField>
                    <asp:TemplateField HeaderText="Class Prefix" SortExpression="SubjectID">
                        <HeaderStyle HorizontalAlign="Left" />
                        <ItemTemplate>
                            <asp:Label ID="lblSubjectNameShort" runat="server" Text='<%# Bind("Subject.SubjectNameShort") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:BoundField DataField="CourseName" HeaderText="Course Name" SortExpression="CourseName" ><HeaderStyle HorizontalAlign="Left" /></asp:BoundField>
                    <asp:BoundField DataField="CourseNumber" HeaderText="Course Number" SortExpression="CourseNumber" ><HeaderStyle HorizontalAlign="Left" /></asp:BoundField>
                    <asp:BoundField DataField="CourseModuleID" HeaderText="Course Module ID" SortExpression="CourseModuleID" Visible="False" ><HeaderStyle HorizontalAlign="Left" /></asp:BoundField>
                    <asp:HyperLinkField DataNavigateUrlFields="SubjectID, CourseID" DataNavigateUrlFormatString="../Pages/Course.aspx?subjectid={0}&amp;courseid={1}" Text="View Details" />
                    <asp:HyperLinkField DataNavigateUrlFields="CourseID" DataNavigateUrlFormatString="../Pages/CourseSection.aspx?courseid={0}" Text="View Sections" />
                </Columns>
                <EditRowStyle BackColor="#2461BF" />
                <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                <RowStyle BackColor="#EFF3FB" />
                <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
                <SortedAscendingCellStyle BackColor="#F5F7FB" />
                <SortedAscendingHeaderStyle BackColor="#6D95E1" />
                <SortedDescendingCellStyle BackColor="#E9EBEF" />
                <SortedDescendingHeaderStyle BackColor="#4870BE" />
            </asp:GridView>
            <asp:EntityDataSource ID="edsCourse" runat="server" 
                ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" 
                EnableDelete="True" EnableFlattening="False" EnableInsert="True" Include="Subject"
                EnableUpdate="True" EntitySetName="Courses" Where="it.SubjectID = @querySubjectID">
                <WhereParameters>
                    <asp:QueryStringParameter QueryStringField="subjectid" DbType="Guid" Name="querySubjectID" ConvertEmptyStringToNull="True"/>
                </WhereParameters>
            </asp:EntityDataSource>
        </asp:Panel>

        <asp:Panel ID="panelCourseView" runat="server" Visible="false">
            <asp:HyperLink ID="linkReturnToList" runat="server" NavigateUrl="" >Return to List</asp:HyperLink>
            <asp:DetailsView ID="dvCourseView" runat="server" Height="50px" Width="100%" 
                AutoGenerateRows="False" CellPadding="4" DataKeyNames="CourseID" 
                DataSourceID="edsCourseView" ForeColor="#333333" GridLines="None"
                OnItemInserting="dvCourseView_OnItemInserting" 
                OnItemInserted="dvCourseView_ItemInserted" 
                OnItemCommand="dvCourseView_ItemCommand" 
                OnItemDeleted="dvCourseView_ItemDeleted" AutoGenerateDeleteButton="True" 
                onitemdeleting="dvCourseView_ItemDeleting">
                <AlternatingRowStyle BackColor="White" />
                <CommandRowStyle BackColor="#D1DDF1" Font-Bold="True" />
                <EditRowStyle BackColor="#2461BF" />
                <FieldHeaderStyle BackColor="#DEE8F5" Font-Bold="True" />
                <Fields>
                    <asp:BoundField DataField="CourseID" HeaderText="CourseID" ReadOnly="True" SortExpression="CourseID" Visible="False" />
                    <asp:BoundField DataField="SubjectID" HeaderText="SubjectID" SortExpression="SubjectID" Visible="False" />
                    <asp:BoundField DataField="CourseName" HeaderText="Course Name (Optional)" 
                        SortExpression="CourseName" ConvertEmptyStringToNull="False" />
                    <asp:BoundField DataField="CourseNumber" HeaderText="Course Number" 
                        SortExpression="CourseNumber" ConvertEmptyStringToNull="False" />
                    <asp:CommandField ShowEditButton="True" />
                </Fields>
                <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                <RowStyle BackColor="#EFF3FB" />
            </asp:DetailsView>

            <asp:EntityDataSource ID="edsCourseView" runat="server" 
                ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" 
                EnableDelete="True" EnableFlattening="False" EnableInsert="True" 
                EnableUpdate="True" EntitySetName="Courses" Include="Subject" Where="it.CourseID = @queryCourseID">
                <WhereParameters>
                    <asp:QueryStringParameter QueryStringField="courseid" DbType="Guid" Name="queryCourseID" ConvertEmptyStringToNull="True"/>
                </WhereParameters>
            </asp:EntityDataSource>
        </asp:Panel>
        
    </div>
    <div class="clear"></div>
</asp:Content>