﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.Master" AutoEventWireup="true"
    CodeBehind="Group.aspx.cs" Inherits="UK.STATS.Administration.Pages.GroupPage" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register TagPrefix="SIS" TagName="GroupSearch" Src="~/UserControls/GroupSearch.ascx" %>
<%@ Register TagPrefix="SIS" TagName="GroupMemberAdministration" Src="~/UserControls/GroupMemberAdministration.ascx" %>
<%@ Register TagPrefix="SIS" TagName="CourseRegistration" Src="~/UserControls/CourseRegistration.ascx" %>
<%@ Register TagPrefix="SIS" TagName="Messaging" Src="~/UserControls/Messaging.ascx" %>
<%@ Register TagPrefix="SIS" TagName="ResourceSchedule" Src="~/UserControls/ResourceSchedule.ascx" %>
<%@ Register TagPrefix="SIS" TagName="ScheduleSummary" Src="~/UserControls/ScheduleSummary.ascx" %>

<asp:Content ID="Content2" ContentPlaceHolderID="Content_MainContents" runat="server">
    <asp:UpdatePanel ID="upGroupSearch" runat="server">
        <ContentTemplate>
            <SIS:GroupSearch ID="GroupSearchControl" runat="server" />
        </ContentTemplate>
    </asp:UpdatePanel>
    <asp:Panel ID="panelGroupScreen" runat="server" Visible="false">
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Pages/Group.aspx">Return to List</asp:HyperLink>
        <div class="GroupPageViewingGroupName" style="clear: both;">
            <asp:Label ID="lblGroupName" runat="server" Text="" Visible="false" />
        </div>
        <telerik:RadTabStrip ID="tabGroupMenu" MultiPageID="tabGroupPages" 
            SelectedIndex="2" runat="server" AutoPostBack="True" 
            ontabclick="tabGroupMenu_TabClick" >
            <Tabs>
                <telerik:RadTab runat="server" Text="Info" Selected="True"></telerik:RadTab>
                <telerik:RadTab runat="server" Text="Membership"></telerik:RadTab>
                <telerik:RadTab runat="server" Text="Schedule"></telerik:RadTab>
                <telerik:RadTab runat="server" Text="Send Message"></telerik:RadTab>
            </Tabs>
        </telerik:RadTabStrip><%-- Skin="Web20"--%>
    </asp:Panel>
    <telerik:RadMultiPage ID="tabGroupPages" SelectedIndex="0" runat="server">
        <telerik:RadPageView ID="tabInfo" runat="server">
            <asp:UpdatePanel ID="upDetailsView" runat="server">
                <ContentTemplate>
                    <asp:Panel ID="panelGroupView" runat="server" Visible="false" Width="100%">
                        <asp:DetailsView ID="dvGroup" runat="server" AutoGenerateRows="False" CellPadding="4"
                            DataKeyNames="GroupID" DataSourceID="eGroup" ForeColor="#333333" 
                            GridLines="None" AutoGenerateDeleteButton="True"
                            Height="50px" Width="100%" OnDataBound="dvGroup_DataBound" OnModeChanging="dvGroup_ModeChanging" OnItemInserting="dvGroup_ItemInserting" OnItemInserted="dvGroupView_ItemInserted"
                            OnItemCommand="dvGroupView_ItemCommand" 
                            OnItemDeleted="dvGroupView_ItemDeleted" onitemdeleting="dvGroup_ItemDeleting"
                            AutoGenerateEditButton="true">
                            <AlternatingRowStyle BackColor="White" />
                            <CommandRowStyle BackColor="#D1DDF1" Font-Bold="True" />
                            <EditRowStyle BackColor="#2461BF" />
                            <FieldHeaderStyle BackColor="#DEE8F5" Font-Bold="True" />
                            <Fields>
                                <asp:BoundField DataField="GroupID" HeaderText="GroupID" ReadOnly="True" SortExpression="GroupID" Visible="False" />
                                <asp:BoundField DataField="GroupName" HeaderText="GroupName" SortExpression="GroupName" ConvertEmptyStringToNull="False" />
                                <asp:BoundField DataField="GroupDescription" HeaderText="GroupDescription" SortExpression="GroupDescription" ConvertEmptyStringToNull="False" />
                                <asp:CheckBoxField DataField="PrimaryGroup"
                                            HeaderText="PrimaryGroup" SortExpression="PrimaryGroup" />
                            </Fields>
                            <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                            <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                            <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                            <RowStyle BackColor="#EFF3FB" />
                        </asp:DetailsView>
                        <asp:EntityDataSource ID="eGroup" runat="server" ConnectionString="name=STATSEntities"
                            DefaultContainerName="STATSEntities" EnableDelete="True" EnableInsert="True"
                            EnableUpdate="True" EntitySetName="Groups" Where="(it.GroupID = @selectedIDQuery OR @selectedIDQuery = null)"
                            EnableFlattening="False">
                            <WhereParameters>
                                <asp:QueryStringParameter QueryStringField="groupid" DbType="Guid" Name="selectedIDQuery"
                                    ConvertEmptyStringToNull="True" />
                            </WhereParameters>
                        </asp:EntityDataSource>
                    </asp:Panel>
                </ContentTemplate>
            </asp:UpdatePanel>
        </telerik:RadPageView>
        <telerik:RadPageView ID="tabMembership" runat="server">
            <asp:UpdatePanel ID="upGroupMembership" runat="server">
                <ContentTemplate>
                    <SIS:GroupMemberAdministration ID="GroupMemberAdministrationControl" runat="server" />
                </ContentTemplate>
            </asp:UpdatePanel>
        </telerik:RadPageView>
        <telerik:RadPageView ID="tabSchedule" runat="server">
            <asp:UpdatePanel ID="upGroupSchedule" runat="server">
                <ContentTemplate>
                    <div style="clear: both; margin-top: 10px;">
                        <SIS:ScheduleSummary runat="server" ID="ScheduleSummaryModule" />
                        <SIS:CourseRegistration ID="CourseRegistrationControl" runat="server" />
                    </div>
                    <asp:HyperLink ID="HyperlinkPrintSchedule" runat="server" Target="_blank">View Printer-Friendly Schedule</asp:HyperLink>
                    <span style="font-size: 8pt;">Note: This will open a popup window. Please disable your popup blocker or allow popups on this site.</span>
                    
                    <asp:UpdatePanel ID="upSchedule" runat="server" UpdateMode="Conditional">
                        <ContentTemplate>
                            <SIS:ResourceSchedule ID="ResourceScheduleControl" runat="server" />
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </ContentTemplate>
            </asp:UpdatePanel>
        </telerik:RadPageView>
        <telerik:RadPageView ID="tabSendMessage" runat="server">
            <asp:UpdatePanel ID="upGroupMessaging" runat="server">
                <ContentTemplate>
                    <SIS:Messaging ID="MessagingModule" runat="server" />
                </ContentTemplate>
            </asp:UpdatePanel>
        </telerik:RadPageView>
    </telerik:RadMultiPage>
    <div class="clear">
    </div>
</asp:Content>
