﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.Master" AutoEventWireup="true" CodeBehind="Resource.aspx.cs" Inherits="UK.STATS.Administration.Pages.ResourcePage" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register TagPrefix="SIS" TagName="ResourceSearch" Src="~/UserControls/ResourceSearch.ascx" %>
<%@ Register TagPrefix="SIS" TagName="ResourceSchedule" Src="~/UserControls/ResourceSchedule.ascx" %>
<%@ Register TagPrefix="SIS" TagName="ResourceRegistrationSummary" Src="~/UserControls/ResourceRegistrationSummary.ascx" %>
<%@ Register TagPrefix="SIS" TagName="CourseRegistration" Src="~/UserControls/CourseRegistration.ascx" %>
<%@ Register TagPrefix="SIS" TagName="TimeTracker" Src="~/UserControls/TimeTracker.ascx" %>
<%@ Register TagPrefix="SIS" TagName="Messaging" Src="~/UserControls/Messaging.ascx" %>
<%@ Register TagPrefix="SIS" TagName="TutoringSkills" Src="~/UserControls/TutoringSkills.ascx" %>
<%@ Register TagPrefix="SIS" TagName="TimeReview" Src="~/UserControls/TimeReview.ascx" %>
<%@ Register TagPrefix="SIS" TagName="TutoringMultiRegistration" Src="~/UserControls/TutoringMultiRegistration.ascx" %>
<%@ Register TagPrefix="SIS" TagName="ResourceGroupMembership" Src="~/UserControls/ResourceGroupMembership.ascx" %>
<%@ Register TagPrefix="SIS" TagName="ResourcePictureEdit" Src="~/UserControls/ResourcePictureEdit.ascx" %>



<asp:Content ID="Content3" runat="server" ContentPlaceHolderID="head">
    <style type="text/css">
        #registerButton
        {
            width: 99px;
        }

        #dropDowns
        {
            height: 25px;
            width: 335px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Content_MainContents" runat="server">
    <asp:ScriptManagerProxy ID="smpResource" runat="server">
    </asp:ScriptManagerProxy>
    <asp:UpdatePanel ID="upResourceSearch" runat="server">
        <ContentTemplate>
            <SIS:ResourceSearch ID="ResourceSearchControl" runat="server" />
        </ContentTemplate>
    </asp:UpdatePanel>
    <div id="ResourcePageMenu">
        <asp:Panel ID="panelResourceScreen" runat="server" Visible="false">
            <asp:HyperLink ID="linkReturn" runat="server">Return To List</asp:HyperLink>
            <div class="ResourcePageViewingResourceName" style="clear: both;">
                <asp:Label ID="lblResourceName" runat="server" Text="" Visible="false" />
                <div style="color:red"><h3 style="display:inline"><asp:Label ID="lblResourceInactive" runat="server" Text="Inactive" Visible="false" /></h3><asp:Label ID="lblInactiveMessage" runat="server" Text=" (must add student to primary group to activate)" Visible="false" /></div>
            </div>
            <telerik:RadTabStrip ID="tabResourceMenu" MultiPageID="tabResourcePages" SelectedIndex="0" runat="server">
                <Tabs>
                    <telerik:RadTab runat="server" Text="Info" PageViewID="tabInfo" Selected="True"></telerik:RadTab>
                    <telerik:RadTab runat="server" Text="Membership" PageViewID="tabMembership"></telerik:RadTab>
                    <telerik:RadTab runat="server" Text="Time Tracker" PageViewID="tabTimeTracker"></telerik:RadTab>
                    <telerik:RadTab runat="server" Text="Schedule" PageViewID="tabSchedule"></telerik:RadTab>
                    <telerik:RadTab runat="server" Text="Send Message" PageViewID="tabSendMessage"></telerik:RadTab>
                    <telerik:RadTab runat="server" Text="Picture" PageViewID="tabPicture"></telerik:RadTab>
                </Tabs>
            </telerik:RadTabStrip>
            <%-- Skin="Web20"--%>
        </asp:Panel>

        <telerik:RadMultiPage ID="tabResourcePages" SelectedIndex="0" runat="server" Width="100%">
            <telerik:RadPageView ID="tabInfo" runat="server">
                <asp:UpdatePanel ID="upDetailsView" runat="server">
                    <ContentTemplate>
                        <br />
                        <asp:Panel ID="panelResourceInfo" Visible="false" runat="server">
                            <div id="ResourceInfoModule">
                                <asp:Label runat="server" ID="lblInsertError" ForeColor="Red" />
                                <asp:DetailsView ID="dvResource" runat="server" Width="100%" CellPadding="4"
                                    ForeColor="#333333" GridLines="None" AutoGenerateRows="False" AutoGenerateDeleteButton="True"
                                    DataKeyNames="ResourceID" DataSourceID="eResource"
                                    OnItemCommand="dvResource_ItemCommand"
                                    OnItemInserting="dvResource_OnItemInserting"
                                    OnItemInserted="dvResource_ItemInserted"
                                    OnItemDeleted="dvResource_ItemDeleted"
                                    OnItemDeleting="dvResource_ItemDeleting"
                                    OnItemUpdated="dvResource_ItemUpdated"
                                    OnItemCreated="dvResource_ItemCreated"
                                    OnItemUpdating="dvResource_ItemUpdating"
                                    OnDataBound="dvResource_DataBound">
                                    <AlternatingRowStyle BackColor="White" />
                                    <CommandRowStyle BackColor="#D1DDF1" Font-Bold="True" />
                                    <EditRowStyle BackColor="#2461BF" />
                                    <FieldHeaderStyle BackColor="#DEE8F5" Font-Bold="True" />
                                    <Fields>
                                        <asp:BoundField DataField="ResourceID" HeaderText="ResourceID" SortExpression="ResourceID" Visible="False" />
                                        <asp:TemplateField HeaderText="Type" SortExpression="ResourceTypeID"
                                            ConvertEmptyStringToNull="False">
                                            <EditItemTemplate>
                                                <asp:DropDownList ID="DropDownList1" runat="server"
                                                    DataSourceID="eResourceType" DataTextField="ResourceTypeName"
                                                    DataValueField="ResourceTypeID" SelectedValue='<%# Bind("ResourceTypeID") %>'>
                                                </asp:DropDownList>
                                            </EditItemTemplate>
                                            <InsertItemTemplate>
                                                <asp:DropDownList ID="DropDownList2" runat="server"
                                                    DataSourceID="eResourceType" DataTextField="ResourceTypeName"
                                                    DataValueField="ResourceTypeID" SelectedValue='<%# Bind("ResourceTypeID") %>'>
                                                </asp:DropDownList>
                                                <span style="color: #FFF; font-size: smaller; font-style: italic;">Note: Students and Tutors will be disabled until they are added to a Primary Group </span>
                                            </InsertItemTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label1" runat="server"
                                                    Text='<%# Eval("ResourceType.ResourceTypeName") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField ConvertEmptyStringToNull="False" HeaderText="Legacy Login"
                                            SortExpression="ResourceLogin">
                                            <EditItemTemplate>
                                                <asp:TextBox ID="txtLoginEdit" runat="server" Text='<%# Bind("ResourceLogin") %>' MaxLength="9"></asp:TextBox>
                                                <span style="color: #FFF;">Please use 9 digit number</span>
                                                <asp:CustomValidator ID="cvLoginEdit" runat="server"
                                                    ControlToValidate="txtLoginEdit" OnServerValidate="cvLoginEdit_ServerValidate"
                                                    SetFocusOnError="True" ForeColor="Red">This Login is already in use!</asp:CustomValidator>
                                            </EditItemTemplate>
                                            <InsertItemTemplate>
                                                <asp:TextBox ID="txtLoginInsert" runat="server" Text='<%# Bind("ResourceLogin") %>' MaxLength="9"></asp:TextBox>
                                                <span style="color: #FFF;">Please use 9 digit number</span>
                                                <asp:CustomValidator ID="cvLoginInsert" runat="server"
                                                    ControlToValidate="txtLoginInsert"
                                                    SetFocusOnError="True" ForeColor="Red"
                                                    OnServerValidate="cvLoginInsert_ServerValidate">This Login is already in use!</asp:CustomValidator>
                                            </InsertItemTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="lblLogin" runat="server" Text='<%# Bind("ResourceLogin") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        
                                        <asp:TemplateField ConvertEmptyStringToNull="False" HeaderText="AD Login" SortExpression="ResourceADLogin">
                                            <EditItemTemplate>
                                                <asp:TextBox ID="txtADLoginEdit" runat="server" Text='<%# Bind("ResourceADLogin") %>' MaxLength="20"></asp:TextBox>
                                                <asp:CustomValidator ID="cvADLoginEdit" runat="server"
                                                    ControlToValidate="txtADLoginEdit" OnServerValidate="cvADLoginEdit_ServerValidate"
                                                    SetFocusOnError="True" ForeColor="Red">This AD Login is already in use!</asp:CustomValidator>
                                            </EditItemTemplate>
                                            <InsertItemTemplate>
                                                <asp:TextBox ID="txtADLoginInsert" runat="server" Text='<%# Bind("ResourceADLogin") %>' MaxLength="20"></asp:TextBox>
                                                <asp:CustomValidator ID="cvADLoginInsert" runat="server"
                                                    ControlToValidate="txtADLoginInsert"
                                                    SetFocusOnError="True" ForeColor="Red"
                                                    OnServerValidate="cvADLoginInsert_ServerValidate">This Login is already in use!</asp:CustomValidator>
                                            </InsertItemTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="lblADLogin" runat="server" Text='<%# Bind("ResourceADLogin") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>

                                        <asp:BoundField DataField="ResourcePassword" HeaderText="Password"
                                            SortExpression="ResourcePassword" ConvertEmptyStringToNull="False" />
                                        <asp:BoundField DataField="ResourceNameFirst" HeaderText="Name, First"
                                            SortExpression="ResourceNameFirst" ConvertEmptyStringToNull="False" />
                                        <asp:BoundField DataField="ResourceNameLast" HeaderText="Name, Last"
                                            SortExpression="ResourceNameLast" ConvertEmptyStringToNull="False" />
                                        <asp:TemplateField HeaderText="Phone Number"
                                            SortExpression="ResourcePhoneNumber">
                                            <ItemTemplate>
                                                <asp:Label ID="Label3" runat="server" Text='<%# Bind("ResourcePhoneNumber") %>'></asp:Label>
                                            </ItemTemplate>
                                            <EditItemTemplate>
                                                <asp:TextBox ID="txtEditPhone" runat="server" Text='<%# Bind("ResourcePhoneNumber") %>'></asp:TextBox>
                                                <asp:RegularExpressionValidator ID="revPhoneEdit" runat="server"
                                                    ErrorMessage="RegularExpressionValidator" ControlToValidate="txtEditPhone"
                                                    ForeColor="Red" SetFocusOnError="True" ValidationExpression="^\d{10}$">Invalid!</asp:RegularExpressionValidator>
                                                <span style="color: #FFF; font-size: smaller; font-style: italic;">Note: Enter just the numeric characters.  (e.g. for (987) 654-3210, enter only 9876543210)</span>
                                            </EditItemTemplate>
                                            <InsertItemTemplate>
                                                <asp:TextBox ID="txtPhone" runat="server" Text='<%# Bind("ResourcePhoneNumber") %>'></asp:TextBox>
                                                <asp:RegularExpressionValidator ID="revPhoneInsert" runat="server"
                                                    ErrorMessage="RegularExpressionValidator" ControlToValidate="txtPhone" EnableClientScript="False"
                                                    ForeColor="Red" SetFocusOnError="True" ValidationExpression="^\d{10}$">Invalid!</asp:RegularExpressionValidator>
                                                <span style="color: #FFF; font-size: smaller; font-style: italic;">Note: Enter just the numeric characters.  (e.g. for (987) 654-3210, enter only 9876543210)</span>
                                            </InsertItemTemplate>
                                        </asp:TemplateField>
                                        <asp:BoundField DataField="ResourceEmail" HeaderText="Email"
                                            SortExpression="ResourceEmail" />
                                        <asp:TemplateField ConvertEmptyStringToNull="False"
                                            HeaderText="Cellular Provider" SortExpression="CarrierID">
                                            <EditItemTemplate>
                                                <asp:DropDownList ID="DropDownList3" runat="server"
                                                    DataSourceID="eCarrier" DataTextField="CarrierName"
                                                    DataValueField="CarrierID" SelectedValue='<%# Bind("CarrierID", "{0}") %>'>
                                                </asp:DropDownList>
                                            </EditItemTemplate>
                                            <InsertItemTemplate>
                                                <asp:DropDownList ID="DropDownList4" runat="server"
                                                    DataSourceID="eCarrier" DataTextField="CarrierName"
                                                    DataValueField="CarrierID" SelectedValue='<%# Bind("CarrierID") %>'>
                                                </asp:DropDownList>
                                            </InsertItemTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label2" runat="server"
                                                    Text='<%# Eval("Carrier.CarrierName") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:CheckBoxField DataField="ResourceTextingEnabled"
                                            HeaderText="Enable Texting" SortExpression="ResourceTextingEnabled" />
                                        <asp:CheckBoxField DataField="ResourceRoom"
                                            HeaderText="Bypass Room Assignment for Tutoring" SortExpression="ResourceRoom" />
                                        <asp:TemplateField HeaderText="Primary Group" SortExpression="GroupName"
                                            ConvertEmptyStringToNull="False">
                                            <EditItemTemplate><asp:Label runat="server" Text="Group Membership listed on Membership Tab"></asp:Label></EditItemTemplate>
                                            <InsertItemTemplate>
                                                <asp:DropDownList ID="ddlGroup" runat="server"
                                                    DataSourceID="eGroup" DataTextField="GroupName" DataValueField="GroupID">
                                                </asp:DropDownList>
                                            </InsertItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderText="Enabled" SortExpression="ResourceIsActive">
                                            <EditItemTemplate>
                                                <asp:CheckBox ID="chkResourceIsActive" runat="server" Enabled='false' Checked='<%# Bind("ResourceIsActive") %>' /> <span style="color: #FFF; font-size: smaller; font-style: italic;">*Controlled by Primary Group Membership</span>
                                            </EditItemTemplate>
                                            <InsertItemTemplate>
                                                <asp:CheckBox ID="chkResourceIsActive" runat="server" Enabled="false" Checked='false' />  <span style="color: #FFF; font-size: smaller; font-style: italic;">*Controlled by Primary Group Membership</span>
                                            </InsertItemTemplate>
                                            <ItemTemplate>
                                                <asp:CheckBox ID="chkResourceIsActive" runat="server" Checked='<%# Bind("ResourceIsActive") %>' Enabled="false"/>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:CommandField ShowEditButton="True" />
                                    </Fields>
                                    <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                                    <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                                    <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                                    <RowStyle BackColor="#EFF3FB" />
                                </asp:DetailsView>
                                <asp:EntityDataSource ID="eResource" runat="server" ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" EnableDelete="True" EnableInsert="True" EnableUpdate="True" EntitySetName="Resources" Include="ResourceType, Carrier" Where="(it.ResourceID = @queryResourceID)" EnableFlattening="False" OnInserted="eResource_Inserted" OnInserting="eResource_Inserting">
                                    <WhereParameters>
                                        <asp:QueryStringParameter QueryStringField="resourceid" DbType="Guid" Name="queryResourceID" ConvertEmptyStringToNull="True" />
                                    </WhereParameters>
                                </asp:EntityDataSource>
                                <asp:EntityDataSource ID="eResourceType" runat="server" ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" EnableFlattening="False" EntitySetName="ResourceTypes"></asp:EntityDataSource>
                                <asp:EntityDataSource ID="eCarrier" runat="server" ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" EnableFlattening="False" EntitySetName="Carriers"></asp:EntityDataSource>
                                <asp:EntityDataSource ID="eGroup" runat="server" ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" EnableFlattening="False" EntitySetName="Groups" OrderBy="it.GroupName ASC" Where="(it.PrimaryGroup = True)"></asp:EntityDataSource>
                            </div>
                        </asp:Panel>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </telerik:RadPageView>
            <telerik:RadPageView ID="tabMembership" runat="server">
                <asp:UpdatePanel ID="upGroup" runat="server">
                    <ContentTemplate>
                        <asp:Panel runat="server" ID="panelResourceGroups" Visible="false" CssClass="panelResourceSchedule">
                            <SIS:ResourceGroupMembership ID="ResourceGroupMembershipControl" runat="server" />
                        </asp:Panel>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </telerik:RadPageView>
            <telerik:RadPageView ID="tabTimeTracker" runat="server">
                <br />
                <asp:UpdatePanel ID="upTimeTracker" runat="server">
                    <ContentTemplate>
                        <asp:Panel runat="server" ID="panelResourceTime" Visible="false" CssClass="panelResourceSchedule">
                            <SIS:TimeTracker ID="TimeTrackerModule" runat="server" />
                        </asp:Panel>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </telerik:RadPageView>
            <telerik:RadPageView ID="tabSchedule" runat="server">
                <asp:UpdatePanel ID="upRegistration" runat="server">
                    <ContentTemplate>
                        <asp:Panel ID="panelTutorSkills" Visible="false" runat="server">
                            <SIS:TutoringSkills ID="TutoringSkillsModule" runat="server" />
                        </asp:Panel>
                        <asp:Panel ID="panelResourceRegistrationSummaryModule" runat="server" Visible="false">
                            <div id="ResourceRegistrationSummaryModule" style="margin: 10px 0px 0px 2px;">
                                <SIS:ResourceRegistrationSummary ID="ResourceRegistrationSummaryControl" runat="server" />
                            </div>
                        </asp:Panel>
                        <asp:Panel ID="panelTutorMulti" runat="server" Visible="false">
                            <SIS:TutoringMultiRegistration ID="TutoringMultiRegistrationControl" runat="server" />
                        </asp:Panel>
                        <asp:Panel ID="panelResourceSchedule" runat="server" Visible="false" CssClass="panelResourceSchedule">
                            <div style="clear: both; margin-top: 10px;">
                                <SIS:CourseRegistration ID="CourseRegistrationControl" runat="server" />
                            </div>
                            <asp:HyperLink ID="HyperlinkPrintSchedule" runat="server" Target="_blank">View Printer-Friendly Schedule</asp:HyperLink>
                            <span style="font-size: 8pt;">Note: This will open a popup window. Please disable your
                                popup blocker or allow popups on this site.</span>
                            <SIS:ResourceSchedule ID="ResourceScheduleControl" runat="server" />
                        </asp:Panel>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </telerik:RadPageView>
            <telerik:RadPageView ID="tabSendMessage" runat="server">
                <asp:UpdatePanel ID="upSendMessage" runat="server">
                    <ContentTemplate>
                        <br />
                        <SIS:Messaging ID="MessagingModule" runat="server" />
                    </ContentTemplate>
                </asp:UpdatePanel>
            </telerik:RadPageView>
            <telerik:RadPageView ID="tabPicture" runat="server">
                <SIS:ResourcePictureEdit ID="ResourcePictureEditModule" runat="server" />
            </telerik:RadPageView>
        </telerik:RadMultiPage>
    </div>
    <div class="clear">
    </div>
</asp:Content>