﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.Master" AutoEventWireup="true" CodeBehind="Room.aspx.cs" Inherits="UK.STATS.Administration.Pages.Room" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="Content_MainContents" runat="server">
    <asp:Panel ID="panelRoomList" runat="server" Visible="False" DefaultButton="btnSearch">
        Search For Room:<asp:TextBox ID="txtSearch" runat="server" 
            style="margin-bottom: 0px"></asp:TextBox>
        <asp:Button ID="btnSearch" runat="server" Text="Search" /> <asp:Button ID="btnAdd" runat="server" Text="Add Room" onclick="btnAdd_Click" />
        <asp:GridView ID="gvRoom" runat="server" Width="100%" AllowPaging="True" 
            AllowSorting="True" AutoGenerateColumns="False" CellPadding="4" 
            DataKeyNames="RoomID" DataSourceID="edsRoomList" ForeColor="#333333" 
            GridLines="None">
            <AlternatingRowStyle BackColor="White" />
            <Columns>
                <asp:BoundField DataField="RoomName" HeaderText="RoomName" 
                    SortExpression="RoomName" />
                <asp:BoundField DataField="RoomPriority" HeaderText="RoomPriority" 
                    SortExpression="RoomPriority" />
                <asp:BoundField DataField="RoomCapacity" HeaderText="RoomCapacity" 
                    SortExpression="RoomCapacity" />
                <asp:TemplateField HeaderText="Location" SortExpression="LocationID">
                    <ItemTemplate>
                        <asp:Literal ID="ltlLocation" runat="server" Text='<%# Eval("Location.LocationName") %>' />
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField DataField="RoomEnabled" HeaderText="RoomEnabled" 
                    SortExpression="RoomEnabled" />
                <asp:HyperLinkField  DataNavigateUrlFields="RoomID" DataNavigateUrlFormatString="../Pages/Room.aspx?roomid={0}" Text="View Details" />
            </Columns>
            <EditRowStyle BackColor="#2461BF" />
            <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#EFF3FB" />
            <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
            <SortedAscendingCellStyle BackColor="#F5F7FB" />
            <SortedAscendingHeaderStyle BackColor="#6D95E1" />
            <SortedDescendingCellStyle BackColor="#E9EBEF" />
            <SortedDescendingHeaderStyle BackColor="#4870BE" />
        </asp:GridView>
        <asp:EntityDataSource ID="edsRoomList" runat="server" 
            ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" 
            EnableFlattening="False" Include="Location" EntitySetName="Rooms" Where="@SearchQuery IS NULL OR it.RoomName == @SearchQuery" OrderBy="it.RoomName ASC">
            <WhereParameters>
                <asp:ControlParameter ControlID="txtSearch" ConvertEmptyStringToNull="True" PropertyName="Text" Name="SearchQuery" Type="String" />
            </WhereParameters>
        </asp:EntityDataSource>
    </asp:Panel>

    <asp:Panel ID="panelRoomView" runat="server" Visible="false">
        <asp:HyperLink ID="HyperLink1" runat="server">Return to List</asp:HyperLink>
        <asp:DetailsView ID="dvRoom" runat="server" Height="50px" Width="100%" 
            AutoGenerateRows="False" CellPadding="4" DataKeyNames="RoomID" 
            DataSourceID="edsRoomView" ForeColor="#333333" GridLines="None"
            onitemcommand="dvRoom_ItemCommand" 
            onitemdeleted="dvRoom_ItemDeleted" 
            oniteminserted="dvRoom_ItemInserted" OnItemUpdating="dvRoom_ItemUpdating"
            oniteminserting="dvRoom_ItemInserting" AutoGenerateDeleteButton="True" 
            AutoGenerateEditButton="True" onitemdeleting="dvRoom_ItemDeleting">
            <AlternatingRowStyle BackColor="White" />
            <CommandRowStyle BackColor="#D1DDF1" Font-Bold="True" />
            <EditRowStyle BackColor="#2461BF" />
            <FieldHeaderStyle BackColor="#DEE8F5" Font-Bold="True" />
            <Fields>
                <asp:TemplateField ConvertEmptyStringToNull="False" HeaderText="RoomName" 
                    SortExpression="RoomName">
                    <ItemTemplate>
                        <asp:Label ID="Label3" runat="server" Text='<%# Bind("RoomName") %>'></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        <asp:TextBox ID="TextBox3" runat="server" 
                            Text='<%# Bind("RoomName") %>'></asp:TextBox>
                        <asp:RequiredFieldValidator ID="rfvRoomNameEdit" runat="server" 
                            ControlToValidate="TextBox3" ErrorMessage="Required" ForeColor="Red"></asp:RequiredFieldValidator>
                        <asp:RegularExpressionValidator ID="regxRoomNameLength" runat="server" 
                            ControlToValidate="TextBox3" ErrorMessage="Max length 15 characters!" 
                            ForeColor="Red" ValidationExpression=".{1,15}"></asp:RegularExpressionValidator>
                        <asp:RegularExpressionValidator ID="regxRoomNameChars" runat="server" 
                            ControlToValidate="TextBox3" ErrorMessage="Please use only Letters and Numbers!" 
                            ForeColor="Red" ValidationExpression="^[A-Za-z0-9\/_]+$"></asp:RegularExpressionValidator>
                    </EditItemTemplate>
                    <InsertItemTemplate>
                        <asp:TextBox ID="TextBox3" runat="server" Text='<%# Bind("RoomName") %>'></asp:TextBox>
                        <asp:RequiredFieldValidator ID="rfvRoomName" runat="server" 
                            ControlToValidate="TextBox3" ErrorMessage="Required" ForeColor="Red"></asp:RequiredFieldValidator>
                        <asp:RegularExpressionValidator ID="regxRoomNameLength" runat="server" 
                            ControlToValidate="TextBox3" ErrorMessage="Max length 15 characters!" 
                            ForeColor="Red" ValidationExpression=".{1,15}"></asp:RegularExpressionValidator>
                        <asp:RegularExpressionValidator ID="regxRoomNameChars" runat="server" 
                            ControlToValidate="TextBox3" ErrorMessage="Please use only Letters and Numbers!" 
                            ForeColor="Red" ValidationExpression="^[A-Za-z0-9\/_]+$"></asp:RegularExpressionValidator>
                    </InsertItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField ConvertEmptyStringToNull="False" HeaderText="RoomPriority" 
                    SortExpression="RoomPriority">
                    <ItemTemplate>
                        <asp:Label ID="Label1" runat="server" Text='<%# Bind("RoomPriority") %>'></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        <asp:TextBox ID="TextBox1" runat="server" CausesValidation="True" 
                            Text='<%# Bind("RoomPriority") %>'></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" 
                            ControlToValidate="TextBox1" ErrorMessage="Required" 
                            ForeColor="Red">Required</asp:RequiredFieldValidator>
                        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" 
                            ControlToValidate="TextBox1" ErrorMessage="RegularExpressionValidator" 
                            ForeColor="Red" ValidationExpression="\d+">Please Enter a Numerical Value</asp:RegularExpressionValidator>
                        <asp:RegularExpressionValidator ID="regxMaxProrityEdit" runat="server" 
                            ControlToValidate="TextBox1" ErrorMessage="The Number is too long!" 
                            ForeColor="Red" ValidationExpression="\d{1,9}"></asp:RegularExpressionValidator>
                    </EditItemTemplate>
                    <InsertItemTemplate>
                        <asp:TextBox ID="TextBox1" runat="server" Text='<%# Bind("RoomPriority") %>'></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" 
                            ControlToValidate="TextBox1" ErrorMessage="Required" 
                            ForeColor="Red">Required</asp:RequiredFieldValidator>
                        <asp:RegularExpressionValidator ID="RegularExpressionValidator4" runat="server" 
                            ControlToValidate="TextBox1" ErrorMessage="RegularExpressionValidator" 
                            ForeColor="Red" ValidationExpression="\d+">Please Enter a Numerical Value</asp:RegularExpressionValidator>
                        <asp:RegularExpressionValidator ID="regxMaxPriority" runat="server" 
                            ControlToValidate="TextBox1" ErrorMessage="The Number is too long!" 
                            ForeColor="Red" ValidationExpression="\d{1,9}"></asp:RegularExpressionValidator>
                    </InsertItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField ConvertEmptyStringToNull="False" HeaderText="RoomCapacity" 
                    SortExpression="RoomCapacity">
                    <ItemTemplate>
                        <asp:Label ID="Label2" runat="server" Text='<%# Bind("RoomCapacity") %>'></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        <asp:TextBox ID="TextBox2" runat="server" CausesValidation="True" 
                            Text='<%# Bind("RoomCapacity") %>'></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
                            ControlToValidate="TextBox2" ErrorMessage="Required" ForeColor="Red">Required</asp:RequiredFieldValidator>
                        <asp:RegularExpressionValidator ID="RegularExpressionValidator2" runat="server" 
                            ControlToValidate="TextBox2" ErrorMessage="RegularExpressionValidator" 
                            ForeColor="Red" ValidationExpression="\d+">Please Enter a Numerical Value</asp:RegularExpressionValidator>
                        <asp:RegularExpressionValidator ID="regxMaxCapacityEdit" runat="server" 
                            ControlToValidate="TextBox2" ErrorMessage="The Number is too long!" 
                            ForeColor="Red" ValidationExpression="\d{1,9}"></asp:RegularExpressionValidator>
                    </EditItemTemplate>
                    <InsertItemTemplate>
                        <asp:TextBox ID="TextBox2" runat="server" Text='<%# Bind("RoomCapacity") %>'></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
                            ControlToValidate="TextBox2" ErrorMessage="Required" ForeColor="Red">Required</asp:RequiredFieldValidator>
<%--                        <asp:RegularExpressionValidator ID="RegularExpressionValidator3" runat="server" 
                            ControlToValidate="TextBox2" ErrorMessage="RegularExpressionValidator" 
                            ForeColor="Red" ValidationExpression="\d+">Please Enter a Numerical Value</asp:RegularExpressionValidator>
                        <asp:RegularExpressionValidator ID="regxMaxCapacity" runat="server" 
                            ControlToValidate="TextBox2" ErrorMessage="The Number is too long!" 
                            ForeColor="Red" ValidationExpression="\d{1,9}"></asp:RegularExpressionValidator>--%>
                    </InsertItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField ConvertEmptyStringToNull="False" HeaderText="Location" 
                    SortExpression="LocationID">
                    <ItemTemplate>
                        <asp:Label ID="lblLocation" runat="server" Text='<%# Eval("Location.LocationName") %>'></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        <asp:DropDownList EnableViewState="true" SelectedValue='<%# Eval("LocationID") %>' ID="ddlLocation" runat="server" DataValueField="LocationID" DataTextField="LocationName" DataSourceID="edsLocation" ></asp:DropDownList>
                    </EditItemTemplate>
                    <InsertItemTemplate>
                        <asp:DropDownList EnableViewState="true" DataSourceID="edsLocation" ID="ddlLocation" runat="server" DataValueField="LocationID" DataTextField="LocationName" ></asp:DropDownList>
                    </InsertItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField ConvertEmptyStringToNull="False" HeaderText="RoomEnabled" 
                    SortExpression="RoomEnabled">
                    <ItemTemplate>
                        <asp:Label ID="Label5" runat="server" Text='<%# Bind("RoomEnabled") %>'></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        <asp:CheckBox ID="CheckBox2" runat="server" Checked='<%# Bind("RoomEnabled") %>'></asp:CheckBox>
                    </EditItemTemplate>
                    <InsertItemTemplate>
                        <asp:CheckBox ID="CheckBox2" runat="server" Checked='<%# Bind("RoomEnabled") %>'></asp:CheckBox>
                    </InsertItemTemplate>
                </asp:TemplateField>
            </Fields>
            <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#EFF3FB" />
        </asp:DetailsView>
        <asp:EntityDataSource ID="edsRoomView" runat="server" 
            ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" 
            EnableDelete="True" EnableFlattening="False" EnableInsert="True" 
            EnableUpdate="True" EntitySetName="Rooms"  Where="(it.RoomID == @queryRoomID)">
            <WhereParameters>
                <asp:QueryStringParameter QueryStringField="roomid" DbType="Guid" Name="queryRoomID" ConvertEmptyStringToNull="True"/>
            </WhereParameters>
        </asp:EntityDataSource>
        <asp:EntityDataSource ID="edsLocation" runat="server" 
            ConnectionString="name=STATSEntities" DefaultContainerName="STATSEntities" 
            EntitySetName="Locations" EnableFlattening="False" EntityTypeFilter="Location">
        </asp:EntityDataSource>
    </asp:Panel>
</asp:Content>