﻿body
{
	background-color: #1B4693;
	font-family: Tahoma;
	height: 100%;
}

a { color: #1B4693; }
a:visited { color: #1B4693; }
a:active { color: #1B4693; }
a:hover { color: #709BE8; }

.ErrorScreen
{
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
}

.ErrorScreenLogo
{
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.ErrorScreenTitle
{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 800;
}

.ErrorScreenError
{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
	color: #FF0000;
}

.LoginScreen
{
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	font-size: 16px;
}

.LoginScreenLogo
{
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.LoginScreenTitle
{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
}

.LoginScreenForm
{
	width: 300px;
	margin: 0px auto;
}

.LoginScreenErrorMessage
{
	color: #FF0000;
	text-align: center;
}

.LoginScreenSubmitbutton
{
	width: 100px;
	margin: 0 100px;
	text-align: center;
}

.LoginFooter 
{
	border-top: 1px solid #1B4693;
	padding: 10px;
	font-size: 10px;
	width: 600px;
	margin: 20px auto;
	text-align: center;	
}


#EntirePage
{
	
}

.PageHeader
{
	margin: 8px;
	padding: 5px;
	line-height: 64px;
	vertical-align: middle;
	color: #FFFFFF;
	overflow: hidden;
	white-space: nowrap;
	clear: right;
}

.PageHeaderLogo
{
	float: left; 
	margin-right: 25px;
}

.Breadcrumb
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #1B4693;
	font-size: 16pt;
	padding: 5px;
}

#SiteBody
{
	background-color: #CCCCCC;
	height: auto;
}

#SiteNavigation
{
	background-color: #CCCCCC;
	float: left;
	width: 15.3%;
	height: auto;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: auto;
	overflow-x: hidden;
	height: auto;
}

#SiteBodyMain
{
	/*margin-left: 200px;*/
	width: 82%;
	float: right;
	height: auto;
	border-left: 1px solid #1B4693;
	background-color: #FFFFFF;

}

#SiteBodyMainContent
{
	background-color: #FFFFFF;
	overflow: scroll; 
	overflow-x: hidden;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	height: auto;
}

.PageFooter
{
	font-size: 10px;
	border-top: 1px solid #1B4693;
	background-color: #AAAAAA;
	padding: 5px;
	text-align: center;
}

.rsAptContent
{
    font-family: Arial;
    font-size: 10px;
	line-height: 105%;
}

.clear
{
	clear: both;
	height: 0px;
}

#GroupMemberModule
{
    height: 150px;
    border: 1px solid #DDD;
    background-color: #EEE;
    padding: 2px;
    width: 580px;
    margin-top: 5px;
}

#TutorMultipleModule
{
    height: 250px;
    border: 1px solid #DDD;
    background-color: #EEE;
    padding: 2px;
    width: 580px;
    margin-top: 5px;
}

#GroupMemberModule .Header
{
    padding: 0px 0px 5px 5px;
    color: Blue;
}

#TutorMultipleModule .Header
{
    padding: 0px 0px 5px 5px;
    color: Blue;
}

#ResourceTypeModule
{    width: 580px;
     margin-top: 20px;
     border: 1px solid #DDD;
     background-color: #EEE;
     padding: 2px;
     height: 34px;
     margin-bottom: 10px;
}

#FreeTimeModule
{    width: 700px;
     margin-top: 20px;
     border: 1px solid #DDD;
     background-color: #EEE;
     padding: 2px;
     height: 100px;
     margin-bottom: 10px;
}

#FreeTimeModule .Header
{
    padding: 0px 0px 0px 5px;
    color: Blue;
}

#MessageComposition .Header
{
    color: Blue;
}

#ResourceTypeModule .Header
{
    padding: 0px 0px 0px 5px;
    color: Blue;
}

#TimeTrackerTitle .Header
{
    color: Blue;
}

#RegisterCourseModule
{    width: 620px;
     margin-top: 20px;
     border: 1px solid #DDD;
     background-color: #EEE;
     padding: 2px;
     margin-bottom: 10px;
}

#RegisterCourseModule .Header
{
    padding: 0px 0px 0px 5px;
    color: Blue;
}

.panelResourceSchedule
{
    padding: 2px;
    width: 100%;
}

.panelTutorMulti
{
    padding: 2px;
    width: 100%;
}

#listBox
{
    width: 273px;
    height: 102px;
    float: left;
}

#listBoxStudents
{
    width: 273px;
    height: 102px;
    float: left;
}

#GroupMemberButtons
{
    margin-left: 2px;
    width: 108px;
    height: 100px;
    padding: 5px;
}

#StudentRegisterButtons
{
    margin-left: 2px;
    width: 108px;
    height: 100px;
    padding: 5px;
}

#deleteButton
{
    padding: 2px;
    margin: auto;
    border: 2px solid #EEE;
}

#RegisterButton
{
    padding: 2px;
    margin: auto;
    border: 2px solid #EEE;
}

#deleteButtonStudent
{
    padding: 2px;
    margin: auto;
    border: 2px solid #EEE;
}

#addButton
{
    margin-bottom: 2px; 
    border: 2px solid #BBB;
    background-color: #EEE;
    padding: 2px;
    height: auto;
}

#addButtonStudent
{
    margin-bottom: 2px; 
    border: 2px solid #BBB;
    background-color: #EEE;
    padding: 2px;
    height: auto;
}

#resourceOptions
{
    margin-left: 5px;
    width: 262px;
    height: 35px;
    float: right;
}

.RadScheduler_Windows7 .rsNonWorkHour 
{
    background-color: White;
}

.MessageCompContainer
{
    background-color: #e8e8e8;
    border-width: 1px;
    width: 580px;
    height: auto;
    padding: 10px 10px 10px 10px;
    
}

.AuthUserInfo
{
    font-size: 10pt;
    float: right;
    color: White;
}
.AuthUserInfo a:link {color: White; font-size: 10pt}
.AuthUserInfo a:active {color: White; font-size: 10pt}
.AuthUserInfo a:visited {color: White; font-size: 10pt}
.AuthUserInfo a:hover {color: White; font-size: 10pt; text-decoration: none;}

#ResourcePageMenu
{
	/*
	Despite the fact that it 'works' -- I'm still upset about this.
    float: left;
	*/
}

#ResourceRegSummary
{
    width: 500px
}

#ResourceInfoModule
{
	/*
	Evan: I'm angry at you for this.
    width: 580px
	*/
}

#TimeTracker
{
    width: 580px;
}

#TutoringSkillsModule
{
    height: 150px;
    border: 1px solid #DDD;
    background-color: #EEE;
    padding: 2px;
    width: 580px;
    margin-top: 5px;
}

#TutoringSkillsModule .Header
{
    padding: 0px 0px 5px 5px;
    color: Blue;
}

#TutoringSkillsButtons
{
    margin-left: 2px;
    width: 158px;
    height: 120px;
    padding: 5px;
}

#deleteButtonTutoring
{
    padding: 2px;
    margin: auto;
    border: 2px solid #EEE;
}

#addButtonTutoring
{
    margin-bottom: 2px;
    border: 2px solid #BBB;
    background-color: #EEE;
    padding: 2px;
    height: auto;
}

#CreateTutorSessionModule
{    width: 500px;
     margin-top: 20px;
     border: 1px solid #DDD;
     background-color: #EEE;
     padding: 2px;
     height: 80px;
     margin-bottom: 10px;
}

#CreateTutorSessionModule .Header
{
    color: Blue;
}

#RegisterTutorSessionModule
{    width: 500px;
     margin-top: 20px;
     border: 1px solid #DDD;
     background-color: #EEE;
     padding: 2px;
     margin-bottom: 10px;
}

#RegisterTutorSessionModule .Header
{
    padding: 0px 0px 0px 5px;
    color: Blue;
}

.messageTitles
{
    text-align: left;
}

#MessageReadTitle .Header
{
    color: White;
    text-align: center;
}

#paramFilter
{
}

#paramFilter .header
{
    color: Blue;
}

#paramFilter .breakLine
{
    border-bottom-width: thin;
    border-bottom-color: Black;
    border-bottom-style: solid;
}